button {
  background-color: var(--button-bg);
  cursor: pointer;
  border: 0;
  border-radius: 0.25rem;
  padding-block: 0.5rem;
  padding-inline: 4rem;
}

button:hover {
  background-color: var(--button-bg-hover);
}
