:root {
  --bg-main: #c4d4df;
  --button-bg: #4db6ff;
  --button-bg-hover: #377daf;
}

* {
  margin: 0;
  font-family: "Open Sans", "Inter", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
  background-color: var(--bg-main);
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.coreContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline: 1em;
}
